body{
    background-color:white;
    margin:0;
    }
    .header{
    background-color:white;
    }
    .header {
    padding: 4px 30px 5px 5px;
    background-color: white;
    display:flex;
    justify-content: space-between;
    font-size:10pt;
    height: 50px;  
    }
    .nav1{
        margin-left: 50px;
        position: relative;
        top: 15px;
        font-size:12pt;
    }
    .nav1 a{
        margin-left: 30px;
    }
    .unika{
        margin-left: 80px;
        position: relative;
        top: -70px;
    }
    a{
    color		:maroon;
    text-decoration :none;
    }
    a:hover{
    color	:red;
    }
    .header .menu1 .nav1{
    margin-left:250px
    }
    
    .header .menu2 .nav2{
    margin-left:250px;
    position: relative;
    }
    .info {
        margin : 50px 100px 10px 100px;
    }
    .bawah{
        background-color:white;
        }
        .bawah {
        padding: 4px 30px 5px 5px;
        background-color: maroon;
        display:flex;
        justify-content: space-between;
        font-size:10pt;
        height: 80px;
        margin-top: 15%;
        }
        .ust{
            margin-left: -30px;
            position: relative;
            top: -1px;
           
        }
        .bawah .logo{
            margin-left: 60px;
            position: relative;
            top: -1px;
            font-weight: bold;
        }
        .paragraf1{
            margin-top: -80px;
            position: relative;
            margin-left: 250px;
            text-align: justify;
            color: white;
        }
        .paragraf2{
            margin-top: -80px;
            position: relative;
            margin-left: 600px;
            text-align: justify;
            color: white;
        }
        .info{ 
            align-items: center;
            display: flex;
        }
        .gambar{ 
            float: left;
            margin-right:40px;
        }
        .sosmed{
            margin-left:500px;
            position: relative;
            top: -70px;
        }
        .sosmed .ust{
            margin-left: 20px;
            position: relative;
            top: -5px;
        }
        .link-wrapper {
            position: relative;
            display: inline-block;
          }
          
          .options {
            position: absolute;
            display: none;
            list-style-type: none;
            padding: 0;
            margin: 0;
            background-color: #f9f9f9;
            border: 1px solid #ccc;
            border-radius: 4px;
            z-index: 1;
          }
          .link-wrapper:hover .options {
            display: block;
          }
          
          .options li {
            padding: 8px 12px;
            cursor: pointer;
          }
          
          .options li:hover {
            background-color: #ddd;
          }
          .sosmed a:hover img {
            filter: brightness(1.2); /* Menambahkan kecerahan pada gambar saat dikursor */
          }